/*font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;*/
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange:  #ffe9D5;
  --secundary--blue: #1a9af7;
  --soft-blue:#E7F5FF;
  --warm-black: #201E1C;
  --black:#282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --white: #FFF;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif; /*just add your font family*/
  }
body{
  font-size:1.6rem
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 32rem; /*the width wont be smaller than 320px the minimum size of a phone*/
  height: 33.4rem ;
  text-align: center;
  background: linear-gradient(207deg, hsla(30, 7%, 12%, 1) 16%, hsla(33, 93%, 54%, 1) 100%);
 
}
.header__logoContainer{
  width: 15rem;
  height: 2.4rem;
  align-self: center;
  margin-block-start: 4rem;
}
.header__title{
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin-block-start: 5rem;
  font-weight:700 ;
  font-size: 2.2rem;
  color:white;
  
}
.header__subtitle{
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  font-weight: 500;
  font-size: 1.4rem;
  color:white;
}
.header__callToAction{
  margin-block-start: 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 70%;
  block-size: 4.5rem;
  position: absolute;
  bottom: -1.6rem;
  box-shadow: 0px 0px 5px 2px #0000003d;
  background-color: white;
  border-radius: 0.2rem;
  
}
.header__callToAction a{
    text-decoration: none;
  font-weight: 700;
  color:black;
  font-size:1.5rem ;
}
